target/classes/com/example/demo/DemoApplication.class
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/classes/application.properties
target/classes/com/example/demo/config/MultiMongoConfig.class
target/classes/com/example/demo/config/PrimaryMongConfig.class
target/classes/com/example/demo/config/SecondaryMongoConfig.class
target/classes/com/example/demo/config/schedule.class
target/classes/com/example/demo/config/schedule$Person.class
target/classes/com/example/demo/util/MyTest.class
target/classes/com/example/demo/util/Recyle.class
target/classes/com/example/demo/util/Singletontest.class
target/classes/com/example/demo/util/Singletontests.class
target/test-classes/com/example/demo/DemoApplicationTests.class
